.menu-spacer {
    flex: 1 1 auto;
}

.mat-tool {
    background-color:rgb(216, 216, 216);
    color: black;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}

.mat-toolbar {
    height: 0vh;
}

div {
    overflow: auto;
}

.mat-sidenav-container {
    background-color: none;
    min-height: 5vh !important;
}

.mat-sidenav-content {
    font-size: 200%;
    text-align: center;
}
#nav{
    position: fixed;
    position: -webkit-sticky;
   
}
.logout{
    justify-content: flex-end;
}


